.blue {
	color: blue;
}

.hulk {
	font-size: 20px;
}

.capture {
	border: 2px solid black;
}

.round {
	border-radius: 20%;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.button {
	display: block;
}